	/*Colores*/
*{
	font-family: "Avenir";
}
.rojo{
	color: #990f22;
}
/*Menu*/
nav ul{
	list-style-type: none;
	float: right;
	padding: 2%;
	margin: 3% 0;
}	
nav ul li{
	display: inline-block;
	text-align: center;
	color: #000;
	font-size: 20px;
	font-weight: bolder;
}
nav ul li:hover{
	color: #169244;
}
/*Footer*/	
footer{	
	background-color: black;
}
footer h6{
	color: #fff;
	padding: 2%;
	text-align: center;
	font-size: 15px;
}